#HeaderBox {
    background-image: url("../Images/header-background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 260px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

h1 {
    margin-top: 0;
}

body {
    margin: 0;
}

html{
    background: #1e2027;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    outline: 0;
}

#UserButton {
    margin-right: 1%;
    margin-top: 0.5%;
}

.header {
    padding: 10px 16px;
    background: #6c757d;
    color: white;
}

.content {
    max-width: 1440px;
    padding: 16px;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}

.StickyHeaderName {
    padding: 0;
    border: 0;
    outline: 0;
    display: inline-flex;
    font-family: "Palatino Linotype"
}

.StickyHeaderButton {
    margin-left: auto;
}

.container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 0.25%;
    margin-left: 1%;
    margin-bottom: 0.25%;
    margin-right: 1%;
    color: #f7f7f7;
    font-family: "Palatino Linotype";
    border: 0px;
}

#app-main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #1e2027;
    justify-content: center;
    align-content: center;

}

.PageDescription {
    padding-left: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    margin-right: 2%;
    font-family: "Palatino Linotype";
    hyphens: auto;
    text-align: justify;
    color: #721c24;
}

.Text {
    padding-left: 7%;
    padding-top: 0.5%;
    margin-right: 7%;
    font-family: "Palatino Linotype";
    hyphens: auto;
    text-align: justify;
    color: #f7f7f7;
}

.PageDescriptionLong {
    padding-left: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    margin-right: 2%;
    font-family: "Palatino Linotype";
    hyphens: auto;
    text-align: justify;
    color: #721c24;
}

.image {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
}

#lining {
    padding-right: 5%;
    padding-top: 2.5%;
    padding-down: 0.5%
}

.flex {
    object-fit: cover;
    width: auto;
    height: auto;
    margin: 4em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2em, 1fr));
    gap: 1em;
}